@import "../../variables";
@import "../../mixins";

.skills {
  @include title-hover;

  @include media-mobile {
    margin-top: 1.5rem;
  };
}

.skillsCard {
  padding: 0.5rem 0;
  border-bottom: 1px dashed #a9a9a9;

  &__category {
    line-height: var(--text-lh);
    color: $blue-color;
    margin-bottom: 0.5rem;

  }

  &__skills {
    @include flexbox(row, flex-start, flex-start, wrap);
    $gap: 10px;

    &__visible {
      & .skillsCard__skills__item {
        opacity: 1;
        transform: translateY(0) scale(1);
        animation: changeColor 1s ease-in-out both;
        
        @keyframes changeColor {
          0% {
            color: $blue-color
          }
          100% {
            color: $lightened-black-color;
          }
        }
      }
    }

    &__item {
      @include font-mini;
      font-weight: bold;
      color: $lightened-black-color;
      border-bottom: 1px solid #a9a9a9;
      padding: 5px 8px;
      transition: 300ms ease-in-out;
      opacity: 0;
      transform: translateY(-100%) scale(0); 
      
      
      &:not(:last-child) {
        margin-right: $gap;
      }
    }
  }
}
