@import "../../mixins";

.summary {
  @include title-hover;

  & .description {
    position: relative;
    padding-top: 1rem;

    &__placeholder {
      position: absolute;
      top: 1rem;
      left: 0;
      color: deepskyblue;
    }
  }
}
