@import "variables";

:root {
  --vh: 1vh;
  --content-vertical-paddings: 100px;
  --content-horizontal-paddings: 20px;
  --content-max-width: 1400px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: 'Rubik', sans-serif
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.5em;
}

.blue {
  color: var(--color-blue);
}

.container {
  max-width: var(--content-max-width);
  min-height: calc(var(--vh) * 100);
  margin: 0 auto;
  padding: var(--content-vertical-paddings) var(--content-horizontal-paddings);
  display: flex;
  flex-direction: column;
}

.wrapper {
  position: relative;
}