.reveral {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    white-space: pre-wrap;

    & .char {
        opacity: 0;
    }

    & span {
        display: inline-block;
    }
}